{% extends 'base.html' %}

{% block content %}
    <h1>Lorem ipsum (updated)</h1>
    <p>{{ main_desc }}</p>

    <h2>Link</h2>
    <ul>
        <li><a href="https://esp-ark.com">Blog</a></li>
        <li><a href="manual">Manual for Me</a></li>
    </ul>

    <h2>Tools</h2>
    <ul>
        <li><a href="eat">Eat</a></li>
    </ul>


    <button id="click_hw">Click me</button>


    <h2>Update</h2>
    <ul>
    {% for update in updates %}
    <li>
        <strong>{{ update.1 | date:'Y-m-d'}}</strong> {{ update.0 }}
    </li>
    {% endfor %}
    </ul>    

    {% block js-back %}
        <script src="/static/js/practice.js" type="text/javascript"></script>
    {% endblock %}
{% endblock %}
