{% extends 'base.html' %}

{% block content %}
<table>
    <tr>
        <th>지역</th>
        <th>장소</th>
        <th>음식</th>
        <th>날짜</th>
        <th>점수</th>
        <th>리뷰</th>
    </tr>
{% for i in items %}
    <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3|date:"Y-m-d"}}</td>
        {% if i.4 == 1 %}
            <td>★</td>
        {% elif i.4 == 2 %}
            <td>★★</td>
        {% elif i.4 == 3 %}
            <td>★★★</td>
        {% elif i.4 == 4 %}
            <td>★★★★</td>
        {% elif i.4 == 5 %}
            <td>★★★★★</td>
        {% endif %}
        <td>{{i.5}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}