{% extends 'base.html' %}

{% block content %}

{% for i in meta_cat %}
    <a href="?cat={{i.0}}"> {{i.0}}</a>
{% endfor %}
<hr>

{% for i in meta_type %}
    <a href="?cat={{i.0}}&type={{i.1}}"> {{i.1}}</a>
{% endfor %}
<hr>

{% for i in meta_subtype %}
    <a href="?cat={{i.0}}&type={{i.1}}&sub={{i.2}}"> {{i.2}}</a>
{% endfor %}
<hr>

<h2>{{header}} ({{nitems}})</h2>

<ul>
{% for i in items %}
    <li><strong>{{i.3}}</strong>
    {% if i.4 == 1 %}
        ★
    {% elif i.4 == 2 %}
        ★★
    {% elif i.4 == 3 %}
        ★★★
    {% elif i.4 == 4 %}
        ★★★★
    {% elif i.4 == 5 %}
        ★★★★★
    {% endif %}
    {{i.5}}</li>
{% endfor %}
</ul>
{% endblock %}